HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# --- 코드칩포의 추천 추가 항목 ---

# 환경 변수 및 민감 정보 (DB 비번, API Key 절대 금지)
.env
*.properties
*.yml
 # 주의: application.yml을 올려야 한다면 아래 예외 처리 참고!

# 운영체제 고유 파일
.DS_Store
Thumbs.db
ehthumbs.db

# 로그 파일
*.log